<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cdf6cbca-5fdc-4a62-99b6-c6dee7e7df34/resourceGroups/Api_group/providers/Microsoft.Web/sites/una-labcibe-api-libros-dev</ResourceId>
    <ResourceGroup>Api_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://una-labcibe-api-libros-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>37df10f9-33ab-4b41-bf0a-410ac70f9d6c</ProjectGuid>
    <MSDeployServiceURL>una-labcibe-api-libros-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>una-labcibe-api-libros-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$una-labcibe-api-libros-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>